<!DOCTYPE html>
<html lang="en">
<head>
  <title>Leaderboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">

	h1 {
		font-size: 250%;
		font-weight: bold;
	}
	.outer {
		font-size: 150%;
	}

</style>

</head>

<body>

<div class="container">
<div class="row text-center">
	<h1>Leaderboard</h1>
</div>
<div class="table-responsive outer">
<center>
  <table class="table table-hover table-striped  text-center" border="1px solid black">
    <tr>
    	<th class=" text-center">Rank</th>
        <th class=" text-center">Team</th>
        <th class=" text-center">Level</th>
        <th class="text-center">Time</th>
    </tr>
    {%  for x in data %}
    
    <tr>
    	<td> {{loop.index}}</td>
        <td>{{ x[0] }}</td>
        <td>{{ x[1] }}</td>
        <td>{{ x[2] }}</td>
    </tr>
    {% endfor %}
</table>
</center>
</div>
</div>

</body>
</html>